[2020-02-10 20:02] adamsitnik opened #17 "Creating a Socket from a file descriptor is not supported on this platform."
Due to some infra issues, I was unable to run the benchmarks using aspnet/benchmarks as netcoreapp3.1 so I've updated it to 5.0 (https://github.com/adamsitnik/Tmds.LinuxAsync/tree/netcoreapp50)

When trying to run the "plaintext" using following command:

[code]

I get the following error:

[code]

@tmds have you tried running it as 5.0? I guess that the method|parameter name was renamed, I'll tak

[2020-02-11 13:58] #17 closed

[2020-02-12 10:49] adamsitnik opened #19 "[Design Question] How many operations should we batch"
In the current implementation of sockets in dotnet/runtime we do the following thing:

1. run epoll wait
2. when epoll tells us that nonblocking IO is possible and socket queue is not empty, we pop the async operation and execute in on thread pool
3. when the first operation finishes and there is one more in the queue, we also dispatch it to thread pool thread:

https://github.com/dotnet/runtime/b

[2020-02-12 11:23] tmds commented on #19
dotnet/runtime implementation performs the read/write on the threadpool. The rationale is that doing read/writes of different sockets simultaneously on the threadpool is faster than serializing them on the epoll thread. And it avoids the issue where the epoll thread could be the bottleneck.

Benchmarks haven't shown it is faster. And multiple epoll threads is an alternative to avoid the bottleneck

[2020-02-12 12:08] adamsitnik commented on #19
Thanks for the response! This is exactly what I was looking for.

[2020-02-12 12:23] #19 closed

[2020-02-12 14:16] tmds commented on #19
Some additional interesting things:

Empty receives (as used by ASP.NET Core to know when a socket has data without providing a buffer), aren't batchable with Linux AIO.

https://github.com/tmds/Tmds.LinuxAsync/blob/c6dd0a31f6360a73a3bbf400c94fed7102524c10/src/Tmds.LinuxAsync/AsyncSocketOperation.cs#L116-L117

With AIO we're putting the sockets in non-blocking mode. With `io_uring` we can use bloc

[2020-02-19 11:01] tmds opened #24 "Benchmark variations"
_Default values for benchmarks:_
ThreadCount: 1
DeferReceives/DeferSends: false
DispatchContinuations: true

_Ordered list:_
- EPollAsyncEngine.useLinuxAio
- using PipeScheduler.Inline and DispatchContinuations=false, to keep receiving/sending on the epoll/io_uring thread
- DeferReceives/DeferSends (incl latency)
- Ring.SubmissionQueueSize/CompletionQueueSize vs nr connections
- IOUringAsyncEngine

[2020-02-19 17:07] tmds opened #25 "Transport PipeOptions"
ASP.NET Core Socket transport sets `PipeOptions` as follows:
[code]

The `PipeScheduler.ThreadPool` usage represents whether it is safe to run 'application' code (parsing data, generating more data) on the thread where the socket operation completes.
kestrel-linux-transport (klt) exposes an option: `ApplicationSchedulingMode` and for TE benchmarks this is set to `Inline`. Socket operations complet

[2020-02-20 07:56] tmds commented on #25
klt uses Inline to configure epoll. Reads are then batched on the epoll thread.
I don't understand why an IOQueue is used by Sockets.

@halter73 This scheduler is used when the input pipe was full and the socket-writer is waiting for the app to read it. This doesn't occur in TE benchmarks (requests are small).
When the app has consumed some data, we can do an `Inline` request to the socket to rece

[2020-02-20 08:56] adamsitnik commented on #24
Default settings + AIO turned ON and OFF using Citrine

[code]

[code]

[code]

[code]

[2020-02-20 08:59] adamsitnik commented on #24
[code]

[code]

[2020-02-20 09:05] tmds commented on #24
Is this pipelined? Using non-pipelined gives most visibility to transport changes.

[2020-02-20 09:05] adamsitnik commented on #24
[code]

[code]

[code]

[code]

[code]

[code]

[2020-02-20 09:07] adamsitnik commented on #24
I currently can not test `io_uring` because our machines don't have a kernel version which supports it (cc @sebastienros @davidfowl)

[code]

[2020-02-20 09:08] adamsitnik commented on #24
where can pipelining be configured? I am using the default settings

[2020-02-20 09:12] adamsitnik commented on #24
Btw If I increase the threads count the numbers get better:

[code]

[code]

[2020-02-20 09:20] tmds commented on #24
By default `wrk` doesn't pipeline. The TE benchmark for plaintext does 16 requests sequentially by configuring wrk. If you are using some tooling from https://github.com/aspnet/Benchmarks, the default for plaintext may be to do pipelining.
For json, TE benchmark doesn't do pipelining.

With threadcount 1, the thread is the bottleneck. Adding more threads gives more rpms.
If it is the bottleneck, t

[2020-02-20 11:30] adamsitnik commented on #24
JSON

[code]

[code]

[code]

[code]

Which makes me think that when I am using `--repository` option with `BenchmarkDriver` from  https://github.com/aspnet/Benchmarks/ the client is not pipelining the requests

@sebastienros how can I force the client to use pipelining when using custom `--repository` and `--path`? Sample command:

[code]

[2020-02-20 16:35] tmds commented on #24
@adamsitnik can you run additional scenarios for JSON with AIO off to on where we vary ThreadCount and ConnectionCount?

| JSON | ThreadCount=1 | ThreadCount=ProcessorCount |
| ------------- | ------------- | ------------- |
| ConnectionCount=256  | + ? %  | + ? %  |
| ConnectionCount=16384 | + ? %  | + ? %  |

[2020-02-20 18:04] adamsitnik commented on #24
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2020-02-20 22:01] tmds commented on #24
Thanks, Adam. Can you run them also without AIO?
Are these copy-pastable for you?:
[code]

[2020-02-20 22:54] sebastienros commented on #24
perf has 12 cores and citrine 28 if you need to know how many thread to use.
Pipelining is enabled by using the pipelining lua script like this: https://github.com/aspnet/Benchmarks/blob/master/src/Benchmarks/benchmarks.plaintext.json#L4-L7

This can also be done by command line. Changing the branch and repos should not have any impact on these settings.

Two weeks ago we ran iouring benchmarks su

[2020-02-21 02:11] halter73 commented on #25
Yeah. Most if not all TE benchmarks don't face PipeWriter.FlushAsync() backpressure in either direction which makes the writer schedulers irrelevant to them.

I don't think this is a reason to make the writer schedulers `Inline` though. Basically that's saying we should call Socket.ReceiveAsync() inline inside PipeReader.AdvanceTo() if we've crossed under the resumeWriterThreshold. This delays the

[2020-02-21 06:27] adamsitnik commented on #24
Yes, thanks!

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2020-02-21 06:34] adamsitnik commented on #24
thanks! Now I am going to try the plaintext

[code]

[2020-02-21 06:57] adamsitnik commented on #24
Pipelined: AIO on an off with a single thread:

[code]
[code]
[code]
[code]

There is almost no difference, which is very surprising to me.

We should most probably add an option to run the "platform" benchmark and use the bare minimum thing which would reduce the aspnet noise and allow us to get to maximum throughput

https://github.com/aspnet/Benchmarks/blob/9cffccb8ad4579b23f5ece871ef537ff6afb6

[2020-02-21 06:58] adamsitnik opened #32 "Add "platform" benchmarks"
We should add a console line arguments that allows to use the "platform" TE configuration.

https://github.com/aspnet/Benchmarks/blob/9cffccb8ad4579b23f5ece871ef537ff6afb6e43/src/BenchmarksApps/Kestrel/PlatformBenchmarks/Program.cs#L23-L44

[2020-02-21 07:10] adamsitnik commented on #24
@sebastienros  thansk! I've tried to run it on the `perf` machine and got following error

[code]

@tmds Is `5.0.0-37-generic #40~18.04.1-Ubuntu SMP` not enough or there is some problem in managed implementation?

[2020-02-21 08:27] tmds commented on #24
Putting the results in a table:

| AIO on vs off | TC=1          | TC=14         | TC=28         |
| ------------- | ------------- | ------------- | ------------- |
| CC=256        | + 8.8 %       | + 0.1 %       | + 0.8 %       |
| CC=16384      | - 3.8 %       | - 1.1 %       | + 0.1 %       |

AIO batching relies epoll giving it multiple events of different sockets. So there needs to be enough

[2020-02-21 08:39] tkp1n commented on #24
@adamsitnik
5.1 was the first version of the kernel with io_uring support.
The implementation here requires features (e.g. `IORING_FEAT_NODROP`, `IORING_FEAT_SUBMIT_STABLE`, `IORING_OP_ASYNC_CANCEL`) that were not added before v5.5

[2020-02-21 09:05] tmds commented on #24
As reference benchmark we can use json with 256 connections and 1 thread (as long as that gives us `Max CPU (%): 100`).

Yes, 5.5 has the interesting feature set I'd use as a minimal version. Especially `IORING_FEAT_NODROP` which is needed to handle a large nr of open connections.

[2020-02-21 12:42] tmds commented on #25
These are all the schedulers used:
[code]

There are two reasons for not using `Inline`:
- We need to use the `ThreadPool`, because user-code may block the thread
- There is a performance advantage by deferring. In case what is deferred is safe (non-blocking), we can use the `IOQueue` because it is faster (due to less contention) than the `ThreadPool`.

For A and B maybe it is advantageous for the

[2020-02-24 09:26] tmds commented on #25
@adamsitnik can you please run these benchmarks to get an idea of what the effect is?
[code]
This causes the completions for `SocketAsyncEventArgs` to run directly on the epoll thread.
Additional optimizations may be possible when the completion starts a new operation (like in the receive/send loop).

[2020-02-24 10:01] tmds commented on #24
@adamsitnik can we run a benchmarks where we check the effect of defersends/deferreceives with aio while keeping dispatch continuations at the default (dispatching to threadpool)?

[code]

[2020-02-24 11:58] adamsitnik commented on #24
Here you go:

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-02-24 12:18] tmds commented on #24
Thanks Adam. The single epoll thread is a bottleneck (`Max CPU (%) << 100`).
Can you try incrementing `t` for the last benchmark (`"-s=true", "-r=true"`) until CPU is at 100? And then run all 4 benchmarks with that value for `t`?

[2020-02-24 13:12] adamsitnik commented on #24
Sure! BTW I was unable to get 100% CPU, 99% was max.

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-02-24 13:26] tmds commented on #24
99 is fine too. The previous benchmarks had values as low as 39%.
With t=12, there is only about 21 sockets per thread. So the batching is low. The net effect is negative due to the overhead of deferring.

| batching | delta |
| ---------- | ------- |
| sends    | -12.3% |
| receives    | -8.4% |
| both    | -18% |

How much do you get with a value of t=2/t=3?
[code]

[2020-02-24 13:47] adamsitnik commented on #25
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-02-24 13:59] adamsitnik commented on #24
How much do you get with a value of t=2/t=3?

[code]

[code]

[code]

[code]

[2020-02-24 14:26] tmds commented on #24
Thanks!

Those numbers are even far lower.
We haven't seen an improvement from defer send/receive in any benchmark so far.

I assume increasing the threadcount further won't help because that will reduce the nr of connections per socket per thread even more.

TE JSON benchmarks max connections is 512.
For klt, there are ProcessorCount threads by default. So on the 28 core machine, there are only a

[2020-02-24 14:39] tmds commented on #25
@adamsitnik can you try incrementing `t` for this benchmark until we're at 100% cpu?
[code]

[2020-02-24 14:40] adamsitnik opened #36 "Suprising lack of AIO in traces"
I've run JSON and Plaintext benchmark on a machine that supports collecting perf traces (it's not the TechEmpower machine which I am always using to run the benchmarks for this experiment) using LTTNg and what I found is lack of `io_submit` in the traces (I can see it when I am running my own AIO implementation).

[code]

All I find is: `Tmds.LinuxAsync!Tmds.LinuxAsync.EPollAsyncEngine+LinuxAio::E

[2020-02-24 14:51] tmds commented on #36
I'm taking a look.

[2020-02-24 15:26] tmds commented on #36
This is interesting...

https://github.com/tmds/Tmds.LinuxAsync/blob/201db8c3985c7cbd1191b60f839d787dc4375852/src/Tmds.LinuxAsync.Transport/Internal/SocketConnection.cs#L193-L199

`WaitForDataAsync` does a 0-byte read, which can't be batched by Linux AIO.

That read completes on the the ThreadPool.

Then `ReceiveAsync` performs a synchronous attempt to receive. Which is successfully, because we've

[2020-02-24 16:13] adamsitnik commented on #36
That was also the case for my implementation. Now we need to figure out why no writes are batched. Are they so small that they always succeed?

BTW In my implementation, I've just removed this line and it has not regressed performance, allowed AIO to batch 1/2 of the reads. The other half of the reads most probably succeed  here:

https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d

[2020-02-24 19:24] tmds commented on #36
Yes.

I'm not sure what line you removed? and where the other half succeed?

Let's use the machines where we can get profiles for further benchmarks.

I'll fix this tomorrow.

[2020-02-24 19:39] adamsitnik commented on #36
Hmm I wonder how we could batch these small writes and don't affect latency in a negative way ;/

I mean that if I remove this line: https://github.com/dotnet/aspnetcore/blob/ab52a1d3ed3fe6e62caa4bb9144f0a6f9d2c3225/src/Servers/Kestrel/Transport.Sockets/src/Internal/SocketConnection.cs#L190 and combine in with https://github.com/adamsitnik/runtime/pull/1/

I get to the situation where half of the

[2020-02-25 08:56] tmds commented on #36
With https://github.com/tmds/Tmds.LinuxAsync/pull/37, setting `c=false` leads to AIO getting used for the `ReceiveAsync` calls.

Let's take a look at the benchmark results and flame graphs if we toggle this arg:
[code]

[2020-02-25 15:36] adamsitnik commented on #36
The numbers are lower because they come from 12 core machine (not 28 like in TechEmpower)

[code]

[code]

![obraz](https://user-images.githubusercontent.com/6011991/75260362-cc038280-57e9-11ea-850b-1ce3f2915a92.png)

All threads except of the single epoll thread look more or less like this:

![obraz](https://user-images.githubusercontent.com/6011991/75260966-b04cac00-57ea-11ea-8ffa-28c2888eef73.p

[2020-02-25 15:41] tmds commented on #36
You need to run the other one (`c=false`):
[code]

[2020-02-25 15:51] adamsitnik commented on #36
[code]

[code]

All Threads:

![obraz](https://user-images.githubusercontent.com/6011991/75262792-50a3d000-57ed-11ea-8249-9978af54bef6.png)

All threads except of the single epoll thread look more or less like this:

![obraz](https://user-images.githubusercontent.com/6011991/75263336-20106600-57ee-11ea-9e0c-1ea5048a03ae.png)

And here comes the epoll|AIO thread:

![obraz](https://user-images.githu

[2020-02-25 21:58] tmds commented on #36
Can you run the `c=false` with higher thread count (until RPS starts to decline)?
[code]

[2020-02-26 09:42] tmds commented on #36
And verify t>1 reduces RPS when `c=true`:
[code]
No need for flamegraphs for this and the previous benchmark (as long as the results match the expectations).

[2020-02-26 09:54] adamsitnik commented on #36
Sure! BTW it looks like 4 is optimal ;)

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-02-26 10:00] adamsitnik commented on #36
[code]
[code]

[code]
[code]
[code]
[code]

[2020-02-26 10:16] tmds commented on #36
Thanks! Putting things in a table:

| configuration | RPS |
| ------- | ----- |
| c=true, t=1 | baseline |
| c=false, t=1 | -48.6% |
| c=false, t=2 | +1.7% |
| c=false, t=3 | +8.7% |
| c=false, t=4 | +10.6% |
| c=false, t=5 | -7.6% |

The regression at `c=false, t=1` is due to the epoll thread being the bottleneck (`Max CPU (%): 74`).

With `c=false` the socket ReceiveLoop runs on the epoll thread

[2020-02-26 10:27] tmds commented on #25
As Adam observed, AIO was not being used in these benchmarks (https://github.com/tmds/Tmds.LinuxAsync/issues/36). This is due to the way SocketConnection splits a receive in `WaitForDataAsync` and `ReceiveAsync` (see https://github.com/tmds/Tmds.LinuxAsync/issues/36#issuecomment-590380728).
To be able to batch in such a configuration, A needs to be `Inline`.

At optimal threadcount, we measured a

[2020-02-26 11:51] tmds commented on #25
I've added a few options in https://github.com/tmds/Tmds.LinuxAsync/pull/38. Let's measure how they affect performance for TE JSON,
- Complete receives on epoll thread instead of ThreadPool (c=false)
- (new) Trust app code (i=true), use Inline instead of ThreadPool
- (new) Don't coalesce writes (p=false), use Inline instead of IOQueue
- (new) Don't wait for data available (w=false)

**note**: for

[2020-02-26 12:24] adamsitnik commented on #25
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-02-26 13:04] tmds commented on #25
Results in a table:

  | AIO off | Max CPU | AIO on | Max CPU
-- | -- | -- | -- | --
complete on threadpool | 394203 | 98 |   |  
complete on epoll thread | 404606 | 100 | 424429 | 100
inline app code | 180593 | 82 | 175013 | 81
don’t coalesce writes | 363112 | 100 | 367681 | 100
don’t wait for data available | 432472 | 100 | 465125 | 99

Observations:
- Also without AIO we see improved performanc

[2020-02-26 14:45] adamsitnik commented on #25
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-02-26 14:59] tmds commented on #25
Thanks!

Looks like we should go up even higher: adding more threads still improves RPS.
Going up till 12, that is `ProcessorCount` on this machine, right?

[code]

[2020-02-26 16:17] adamsitnik commented on #25
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-02-27 06:06] tmds opened #39 "io_uring benchmarks don't max CPU"
The io_uring based implementation needs a kernel 5.5, which isn't available on benchmark infrastructure.

Is it feasible to install kernel 5.5? It would be my preference because that is also what end-users should have for io_uring usage.

If it is more easy to use kernel 5.4 on the benchmark machines, we can make some modifications to the implementation. This is mainly to deal with the lack of `IO

[2020-02-27 10:14] tmds commented on #25
I'm surprised inlining the application code doesn't get us at the same level of the other benchmarks with `t=ProcessorCount`.

[2020-02-27 11:12] tmds commented on #25
I've opened PRs in in aspnetcore repo with changes to consider.

I'm going to create two issues to look into:

- Verify

- Investigate

[2020-02-27 11:12] #25 closed

[2020-02-27 11:13] tmds opened #40 "Inline output reader reduces performance for JSON benchmark"
See https://github.com/tmds/Tmds.LinuxAsync/issues/25#issuecomment-591415370

Verify this is the root cause, or find the root cause otherwise.

[2020-02-27 11:15] tmds opened #41 "Running application code Inline reduces performance of JSON benchmark"
See https://github.com/tmds/Tmds.LinuxAsync/issues/25#issuecomment-591415370

What is the root cause?

[2020-02-27 11:16] tmds commented on #36
This is understood/fixed.

[2020-02-27 11:16] #36 closed

[2020-02-27 13:55] tmds commented on #40
The `-p` argument determines whether the output reader uses an `IOQueue` (`-p true`) or is `Inline` (`-p false`).

We see this difference:
[code]
-> `IOQueue`: reply is sent as a single system call
[code]
-> `Inline`: reply is split over two system calls

So performance is better for the `IOQueue` because it makes a single syscall.
Probably performance will be best if we can make the `Inline` perf

[2020-02-27 14:17] tmds commented on #24
@adamsitnik I wonder how much performance differs if we batch receives by a. running the receiveloop on epoll thread using `c=false`, and b. schedule receives from receiveloop on threadpool to the epoll thread using `r=true`.

Can you run the benchmarks, and also share the perftrace files?

(`w=false` is set to get rid of 0-byte receives)

[code]

[2020-02-27 16:45] adamsitnik commented on #24
[code]
[code]
[code]
[code]
[code]
[code]

Do you have any preferences for file shares? I have none. Would g drive be OK?

[2020-02-27 16:52] tmds commented on #24
Thank you! gdrive works for me.

[2020-02-27 17:01] davidfowl commented on #40
We don't write chunked in the JSON benchmark. Whatever test you're running you might want to change it to compare content length based responses to chunked responses.

[2020-02-27 20:02] tmds commented on #40
Indeed.
The two syscalls with `Inline` happen with this handler:

https://github.com/tmds/Tmds.LinuxAsync/blob/fbdb41a42ffc916e2c4c5509ce7d4b78aefa1c24/test/web/Startup.cs#L30-L33

The json handler generates a single syscall even with `Inline` scheduler

https://github.com/tmds/Tmds.LinuxAsync/blob/fbdb41a42ffc916e2c4c5509ce7d4b78aefa1c24/test/web/JsonMiddleware.cs#L20-L27

The syscalls are not th

[2020-02-27 23:09] lpereira commented on #39
Sure, I can help with the kernel upgrades.  Just hit me up and we can do this.

[2020-03-02 09:24] tmds commented on #24
@adamsitnik I'd like to know the impact of completing on threadpool (`c=true`) vs inline (`c=false`). Can you run these benchmarks?

[code]

[2020-03-02 10:21] tmds commented on #40
@adamsitnik let's try to figure this out by looking at the trace files. Can you run these benchmarks, and share results and trace files?
[code]

[2020-03-02 11:31] adamsitnik commented on #24
@tmds here you go!

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-03-02 11:35] adamsitnik commented on #40
[code]
[code]
[code]
[code]

[2020-03-02 12:32] tmds commented on #24
Thank you!
Can you run these too (AIO gets disabled)?
[code]

[2020-03-02 12:32] tmds commented on #40
Will you share the trace files on the gdrive?

[2020-03-02 12:38] adamsitnik commented on #40
Ups sorry, I forgot about it. I've re-run the benchmarks and uploaded the trace files to gdrive (same folder as recently)

[code]
[code]
[code]
[code]

[2020-03-02 12:44] adamsitnik commented on #24
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-03-02 14:28] antonfirsov commented on #39
Kernel 5.5.0-050500-generic has been installed on asp-perf-lin. We can do benchmarks against `IOUringAsyncEngine` now.

I also installed today's master of liburing, just in case.

[2020-03-02 15:05] tmds commented on #39
That's great!

I need to make a change similar to https://github.com/tmds/Tmds.LinuxAsync/pull/37, and then we can run some benchmarks.

[2020-03-02 15:34] tmds commented on #39
@adamsitnik is this the machine you can perfcollect?
If not, @antonfirsov can you update that machine too?

[2020-03-02 15:41] adamsitnik commented on #39
Yes :D

@tmds what benchmarks do you want me to run now?

[2020-03-02 15:47] tmds commented on #39
done in https://github.com/tmds/Tmds.LinuxAsync/pull/43

Let's see how `AIO` and `io_uring` compare.
The following moves `ProcessReceives` to the `epoll`/`io_uring` thread.
It includes a `w=true` (wait-for-data-available, not batcheable by AIO), and a `w=false` (no wait-for-data-available).
I've included a `t=4` and a `t=3`.
[code]

[2020-03-02 16:01] adamsitnik opened #44 "Operation is not valid due to the current state of the object"
@tmds this is what I get when I am trying to use the io_uring mode:

[code]
[code]

[2020-03-02 16:12] tmds commented on #44
This doesn't reproduce for me:
[code]
[code]
From the exception it seems `AsyncOperationResult asyncResult` doesn't have a result:
https://github.com/tmds/Tmds.LinuxAsync/blob/0162f496f4222f84152a5c9c18923f8f7f7c1576/src/Tmds.LinuxAsync/IOUringAsyncEngine.IOUringThread.cs#L224-L227

I'll try to find out when that can happen.
I won't get to that today.

[2020-03-02 16:32] #44 closed

[2020-03-02 16:35] adamsitnik opened #47 "Bad address"
@tmds with #46 now we get the underlying error which is "bad address"

[code]
[code]

[2020-03-02 17:36] tmds commented on #47
Much more meaningful!

The addresses used here are:
https://github.com/tmds/Tmds.LinuxAsync/blob/0fb0d4fdcab760892db3538002ce74e98cce0ac3/src/Tmds.LinuxAsync/IOUringAsyncEngine.IOUringExecutionQueue.cs#L56
and
https://github.com/tmds/Tmds.LinuxAsync/blob/0fb0d4fdcab760892db3538002ce74e98cce0ac3/src/Tmds.LinuxAsync/IOUringAsyncEngine.IOUringThread.cs#L22
`_dummyReadBuffer` gets pinned during the re

[2020-03-02 17:38] tmds commented on #47
This is probably the first operation that io_uring gets used for.

[2020-03-02 18:17] tmds commented on #47
@adamsitnik let's smoke test io_uring on this machine. Can you try running unit tests from https://github.com/tkp1n/IoUring?
[code]

[2020-03-03 08:44] adamsitnik commented on #47
@tmds I don't have the access (I simply did not ask for it). @antonfirsov is there any chance that you could ssh to this machine and run these tests?

[2020-03-03 12:34] tmds commented on #47
@antonfirsov, feel free to debug this further when you look at it.
We can tackle it together also.

[2020-03-03 13:52] antonfirsov commented on #47
I will look into it. First, i will try to run them on another machine having the same configuration. If I can't reproduce the issue with that approach, will ask for permission from Sebastien to run them on aspnet-perf-lin.

[2020-03-03 18:24] antonfirsov commented on #47
I sneaked into "asp-perf-lin" to run a quick test inside a 3.1 SDK container:

[code]

Then I did run both tkp1n/IoUring unit tests and LinuxAsync/test/web, but unfortunately these conditions did not reproduce the issue.

After running:
[code]

`curl http://127.0.0.1:23000/json` returns `{"message":"Hello, World!"}` as expected.

Now I will try to figure out how to properly test+benchmark this rep

[2020-03-04 14:50] adamsitnik commented on #47
I've removed the aligning logic (Marshal should always return aligned memory), replaced usage of pointers with span and added some "console logging" to my branch and tried to run the json benchmark using iouring.

Code: https://github.com/adamsitnik/Tmds.LinuxAsync/tree/badAddress

Sample output:

[code]

We are able to perform few 8  bytes reads to `140382483824976` memory location and after some

[2020-03-04 15:09] antonfirsov commented on #47
Looks like it's not the first operation, as we assumed initially. I'll try to reproduce it locally with wrk or BenchmarksDriver.

[2020-03-04 15:26] tmds commented on #47
I think it might be aligned to the native machine size, so on 32-bit it could be 4 instead of 8.

Next to the address of the read buffer, there is also the address of the iovec.
Pre 5.5 kernels required the iovecs to be untouched until the operation completes.
With 5.5, the iovecs can be reused after the operation is submitted.
That happens here:

https://github.com/tmds/Tmds.LinuxAsync/blob/601c8

[2020-03-04 18:19] antonfirsov commented on #47
Ok, I'll install [5.5.7](https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.5.7/) tomorrow.

[2020-03-05 10:37] tmds commented on #40
I had a look at the trace files.

The difference in where time is spent are not that small, the total diff on RPS is also just 5%.
The main observation I made is that the slower version spends a bit more time doing synchronous receives.

When we inline the application code, the next recv is made a bit later. Maybe that increases chances of there being data, and reduces uses of epoll to receive the

[2020-03-05 10:48] tmds opened #49 "Use epoll/io_uring thread as output PipeScheduler"
The IOQueue PipeScheduler improves performance for output (https://github.com/tmds/Tmds.LinuxAsync/issues/40).

It would be interesting to see the difference in performance between an IOQueue PipeScheduler, and using the epoll/io_uring thread as PipeScheduler.

When we can use the epoll/io_uring thread as PipeScheduler we can batch the sends.

This requires an API to get the thread as a PipeSchedu

[2020-03-05 11:24] tmds opened #51 "Queue async operations directly from non epoll/io_uring thread"
AIO and io_uring AsyncExecutionQueues are implemented as not thread-safe.
Operations that are added, are added from the epoll/io_uring thread.

For epoll, these are the operations that are indicated ready by epoll.

And for epoll/io_uring these are also operations that are newly started from the thread when `RunContinuationsAsynchronously=false` (`t=false`).

Other operations can be forced onto th

[2020-03-05 11:32] tmds opened #52 "Explore reducing the locking in Queue"
The lock in Queue class serves these purposes:
- allow multiple operations, though the typical case is there is at most 1 element
- allow async cancellation a single operations, or all operations on dispose
- for epoll, avoid loosing events from epoll

I'm not sure if there is much to gain by trying to replace locking with other synchronization primitives, because the lock _should_ not be contende

[2020-03-05 11:41] tmds commented on #47
@adamsitnik I had looked into the Spanification, but I didn't know how to do this `(iovec*)Unsafe.AsPointer(ref iovs[iovIndex]`.

Actually for `iovec` it is ok to align at 4-bytes on 32-bit. For some of the structs that are in AIO implementation, 8-byte alignment is needed even on 32-bit. I don't think `AllocHGlobal` will do 8-byte alignment on 32-bit.

[2020-03-05 14:11] antonfirsov commented on #47
Ok, the patching is done, and it looks like the error did go away.

I've no idea know how I ended up installing 5.5.0 when there were newer versions available, sorry for the amateurish mistake :)

[2020-03-05 14:15] tmds commented on #47
No problem. It's seems we're on the bleeding edge :smile:

[2020-03-05 14:15] #47 closed

[2020-03-05 15:01] antonfirsov commented on #49
Sure, I need a ramp-up task here, so I will either look into this or into #51.

How would we realize such a feature in actual product code? `System.Net.Sockets` has no dependency on `System.IO.Pipelines` today. I suppose it will raise serious concerns, if we'd try to add it only because of Kestrel integration.

[2020-03-05 16:52] tmds commented on #49
We should seek some opportunities to improve and quantify them.
In the end product owners decide what goes in the product.

I'm interested in knowing how much this brings, because custom Transports (like kestrel-linux-transport) leverage this.

Product implementation doesn't mean Socket needs to depend on Pipelines, the `PipeScheduler` is an abstraction for `void Schedule (Action<object> action, o

[2020-03-05 17:59] adamsitnik commented on #39
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-03-05 18:27] adamsitnik commented on #47
@antonfirsov big thanks for the update! now it works and I was able to run some benchmarks and share the results https://github.com/tmds/Tmds.LinuxAsync/issues/39#issuecomment-595364901

[2020-03-05 18:43] adamsitnik commented on #39
@tmds I've re-run the benchmarks with tracing enabled. Files uploaded to g drive as usuall.

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-03-05 18:55] tmds commented on #39
Thanks Adam!
It seems we're not maxing CPU with iouring, which is surprising.
Let's increase `t`, CPU should go up, and RPS also (until we're at 100%).
[code]

[2020-03-05 18:59] tmds commented on #39
Can you also run it for `t=2` and `t=1`?

[2020-03-05 22:07] antonfirsov commented on #39
Shouldn't we also try `-s=true -r=true` with io_uring to eliminate the extra syscalls when `send()` or `recv()` returns `EWOULDBLOCK`?

[2020-03-05 22:34] antonfirsov opened #53 "Add tracing"
Shouldn't we add tracing to the code?

For me it would definitely help to get a better overview of which code paths gets executed. Eg. I'm super curious to see the ratio of synchronous completions.

We could make the tracing calls `[Conditional(...)]` to avoid unwanted perf. impacts.

[2020-03-05 23:32] tmds commented on #39
Setting `c=false` is enough to move the receive calls to the epoll/io_uring thread and cause them to be batched. This gives us an idea of how io_uring and AIO compare for batching.

We haven't done much benchmarking with `s=true` and I'm not sure how well it behaves.

[2020-03-06 00:42] antonfirsov commented on #39
By adding [this logging logic](https://github.com/antonfirsov/Tmds.LinuxAsync/compare/af/31...antonfirsov:af/hack?expand=1), I get the following printed with `-c false`:

[code]

`-s true -r true` disables the synchronous attempts.

[2020-03-06 07:12] tmds commented on #39
The first request is synchronous because data is already available. Next requests will wait for data and cause receives to move to the epoll/io_uring thread. Check what happens when you use `wrk`.

[2020-03-06 10:49] adamsitnik commented on #39
as usual, traces uploaded to g drive ;)

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-03-06 12:36] tmds commented on #39
Putting these results in a table:

RPS | aio |   | io_uring |   | io_uring (cpu)
-- | -- | -- | -- | -- | --
t | wait | no wait | wait | no wait | no wait
1 |   |   | 159883 | 259132 | 76
2 |   |   | 307507 | 422083 | 87
3 | 447583 | 446739 | 357530 | 420723 | 82
4 | 444370 | 456252 | 351740 | 423139 | 84
5 |   |   | 342477 | 381922 | 80
6 |   |   | 386634 | 381922 | 78
7 |   |   | 336500 | 300031

[2020-03-06 13:18] adamsitnik commented on #39
Anton already has the access. I'll try to take a look as well (around Monday).

[2020-03-06 14:38] tmds commented on #53
@adamsitnik and I have talked about that too. Yes, it would be good to get more insights and it can help reveal bugs too.

[2020-03-06 14:46] adamsitnik commented on #53
I've recently tried to add some performant tracing using `EventSource`, however I was unable to tell `PerfCollect` to listen for given events.

Sample code:

[code]

@brianrob how can I enable certain events using `PerfCollect`  and lttng?

[2020-03-06 14:54] antonfirsov commented on #53
@adamsitnik I'm considering writing to stream in the first implementation, to avoid dealing with ETW issues.

With a good API we can switch the backend to EventSource easily.

@tmds any specific expectations towards the implementation you'd like to share?

[2020-03-06 14:57] adamsitnik commented on #53
But how are you going to view the events?

`EventSource` logging adds some extra complexity, but once we figure out how to properly enable it via PerfCollect, it's super fast and we can view all the events in PerfView (and take advantage of all its features)

[2020-03-06 16:36] antonfirsov commented on #53
Ok, I will dig deeper and focus on implementing a full-scale EventSource based solution, hopefully by Tuesday evening.

Hope it will help us to figure out what went wrong with io_uring.

[2020-03-06 22:14] antonfirsov commented on #53
I managed to capture events with `dotnet-trace`, but I don't have any nice output, beacuse EventID-s do not translate to method names unlike when laumching with PerfView on windows:
![image](https://user-images.githubusercontent.com/6835152/76126324-131a2080-5fff-11ea-92a7-67cab9af1963.png)

When coming to `perfcollect`, I'm completely lost. I can't get it work on my VM since I don't have `perf` m

[2020-03-07 00:53] brianrob commented on #53
@adamsitnik `perfcollect` is harder to use with `EventSource` because `LTTng` doesn't allow for dynamic registration of tracepoints.  Instead, all `EventSources` emit via a single tracepoint called `EventSource`.  Then you can control exactly which events are emitted via an environment variable.  It's really not ideal.

`dotnet-trace` on the other hand should let you do exactly what you want prett

[2020-03-07 02:16] antonfirsov commented on #53
@brianrob opened dotnet/diagnostics#884 and shared details.

What environment variables should we set up given an event source `TestEventSource`?

[2020-03-07 17:56] tkp1n commented on #52
Regarding io_uring:

I added a package `IoUring.Concurrent` to the usual [MyGet feed](https://www.myget.org/feed/tkp1n/package/nuget/IoUring.Concurrent). It primarily features the `ConcurrentRing` class (as opposed to the non-thread-safe `Ring` in the `IoUring` package).

`ConcurrentRing` allows you to prepare `SQE`s and consume `CQE`s without external locking. Internally a `Volatile.Read` + `Inte

[2020-03-07 20:26] tmds commented on #52
@tkp1n can you add your comment to https://github.com/tmds/Tmds.LinuxAsync/issues/51? I'll hide it here. I don't think there is a way for me to move it.

[2020-03-07 20:28] tkp1n commented on #51
Regarding io_uring:

I added a package `IoUring.Concurrent` to the usual [MyGet feed](https://www.myget.org/feed/tkp1n/package/nuget/IoUring.Concurrent). It primarily features the `ConcurrentRing` class (as opposed to the non-thread-safe `Ring` in the `IoUring` package).

`ConcurrentRing` allows you to prepare `SQE`s and consume `CQE`s without external locking. Internally a `Volatile.Read` + `Inte

[2020-03-09 07:47] tmds commented on #51
There are two ways to implement this:
- Let threads submit directly to the submission queue.
- Pool submissions in a thread-safe collection for the io_uring thread to submit.

`IoUring.Concurrent` does the first. The implementation is more challenging, but maybe it pays off.

We can try both and measure.

@tkp1n can you make the implementation on top of `IoUring.Concurrent`?

In case where `Socket

[2020-03-09 07:59] tmds commented on #53
Add what makes sense in your opinion. @adamsitnik and I will give feedback on the PR.

If it is a functional issue, it should show in the event source tracing. If it a performance bottleneck, we are more likely to identify it in the perfview traces Adam has collected.

I think it may be `COMPlus_EventPipeConfig`. @antonfirsov fyi, I wrote a blog post about tracing on Linux: https://developers.redh

[2020-03-09 08:32] tkp1n commented on #51
I try to find the time to come up with a PR for an `IoUring.Concurrent`-based approach.

FYI: I already added a [small micro-benchmark](https://github.com/tkp1n/IoUring/blob/master/tests/IoUring.Benchmarks/RingBenchmark.cs) to IoUring to identify the overhead of using `ConcurrentRing` over `Ring` in situations where synchronization is not needed. Let's see if the overhead pays off in a more real w

[2020-03-09 12:44] tmds commented on #39
@adamsitnik something went wrong with some of the trace files. Usually they are 60MB in size. Some are <10MB and don't show anything useful in PerfView.

I've opened up the 03-05-19-29-23.RPS-421K trace.
.NET io_uring threads have a Metric/Interval of 0.50.
.NET ThreadPool thread of 0.62.
There is also a io_wqe_worker-1 thread, I think this is the kernel work queue used by io_uring. That one has a

[2020-03-09 17:24] antonfirsov commented on #53
`perfcollect` is based on `LTTng` and does not use EventPipe AFAIK, so I think this won't help collecting traces on `aspnet-pef-lin`

If the internal behavior deviates from what we assume it may affect performance. Maybe it's just me, but I was unable to track down the actual execution path for 100% from the traces, because too many calls are missing from the call tree (what is the reason? it's un

[2020-03-09 19:02] tmds commented on #39
It would be interesting to benchmark using https://github.com/tkp1n/IoUring.Transport and see if it can fully load the benchmark machine (100% cpu). We can add it as an option to the test/web app.

[2020-03-09 19:07] lpereira commented on #39
Might be a good idea to try a newer kernel, too. Although io_uring was released with 5.5.0, there has been numerous changes and improvements since then (either adding new opcodes, or performance enhancements). I'd try with 5.6-rc5.

[2020-03-09 23:46] antonfirsov commented on #39
@tmds good idea, I will give it a try

[2020-03-10 13:48] tmds commented on #39
With https://github.com/tmds/Tmds.LinuxAsync/pull/56/files we can benchmark with `IoUring.Transport` also.

Let's see if it also shows a bottleneck.
@adamsitnik can you run these benchmarks?
[code]

[2020-03-11 13:08] antonfirsov commented on #39
With `trace.03-05-19-29-23.RPS-421K.trace.zip`, which has been collected with the following parameters, as far as I understand:
[code]
I see a significant amount of time being sent in `send`:
![image](https://user-images.githubusercontent.com/6835152/76419492-bcb33600-63a0-11ea-81ca-47017343fed7.png)

Shouldn't we try batching sends on the io_uring thread?

[2020-03-11 13:11] tmds commented on #49
This is now implemented. We can now use the IOThread (that is: epoll/io_uring thread) as a PipeScheduler. When we do that, writes get batched using io_uring/AIO.

@adamsitnik let's run a benchmark to see the effect:
[code]

[2020-03-11 13:24] tmds commented on #39
Yes, it's something we need to explore also.

If you check cpu on the thread pool threads (which are performing the sends), you should see they are not 100% loaded. So this is not causing the bottleneck we see with io_uring.

I try to focus on benchmarks that tell us something specific at this point. We also need to do overall benchmarks that combine multiple options and find out what is the best

[2020-03-11 13:34] tmds commented on #51
Let threads submit directly to the submission queue.
Pool submissions in a thread-safe collection for the io_uring thread to submit.

@antonfirsov, @tkp1n is doing the first approach. Do you want to take a shot at the second?

You can focus on io_uring and ignore epoll/AIO.

You need to make `AsyncExecutionQueue` thread-safe for adding operations, and ensure we are able to unblock the `io_uring_en

[2020-03-11 13:56] antonfirsov commented on #39
I will try running a few new benchmarks, I think I have all the information now to do so.

[2020-03-11 14:08] antonfirsov commented on #51
@tmds do we expect significant difference from the two approaches?

@tkp1n is it possible to achieve `ConcurrentRing` behavior using the original `liburing`?

[2020-03-11 14:13] tkp1n commented on #51
`liburing` is not thread-safe AFAIK

[2020-03-11 14:21] tmds commented on #51
When writing up this issue I was not considering the `ConcurrentRing` approach because the implementation is more challenging and I'm not sure about the gains. Since we have `ConcurrentRing` implementation available, we can use it and measure.

[2020-03-11 16:34] antonfirsov commented on #39
I managed to run the requested benchmarks, results and traces are available here:
https://microsoft-my.sharepoint.com/:f:/p/anfirszo/EkqER0svzQlJsYVH9EXVkosBElKc2q1K2wFI4TtC4L1mpg?e=hBMq37

Summary:
| ARGS | RPS  |
|--|--|
| --arg "-e=iouring" --arg "-t=4" --arg "-s=false" --arg "-r=false" --arg "-c=false" --arg "-a=true" --arg "-w=false" --connections 256 | 413,995 |
| --arg "-e=iouring" --arg "-

[2020-03-11 17:41] tmds commented on #39
Thank you for running benchmarks Anton.

A `Transport` has the advantage it is a simpler abstraction than `Socket`, so it can always perform a bit better.
To batch sends, I think using the io_uring thread as `PipeScheduler` will probably give best results, see https://github.com/tmds/Tmds.LinuxAsync/issues/49#issuecomment-597623525.

From the benchmark results on sharepoint, I see `iouringtranspor

[2020-03-11 18:05] antonfirsov commented on #39
@tkp1n you might be also interested in the results.

[2020-03-11 20:27] tmds commented on #49
@antonfirsov maybe you can run these benchmarks?

[2020-03-11 21:50] tmds commented on #39
@antonfirsov can you check load on the request generating machine to make sure it is not a bottleneck?

[2020-03-11 22:05] sebastienros commented on #39
Only Plaintext pipelined should be bottlenecking TE benchmarks. @antonfirsov the thing to check would be CPU usage during the run.

[2020-03-11 22:11] antonfirsov commented on #39
@sebastienros is there a straightforward way to collect traces from the client machine?

[2020-03-11 23:45] antonfirsov commented on #49
@tmds done, there is a new tab in my excel sheet + new traces:

https://microsoft-my.sharepoint.com/:f:/p/anfirszo/EkqER0svzQlJsYVH9EXVkosBElKc2q1K2wFI4TtC4L1mpg?e=hBMq37

[2020-03-12 08:20] tmds commented on #49
Thanks, in the `iothread` case we're not fully loading CPU.
I haven't looked at the traces yet, but I guess moving sends to the epoll thread made it a bottleneck, and we need to increase `t`.

I've made https://github.com/tmds/Tmds.LinuxAsync/pull/61 to try improve perf for the scheduling.
After benchmarking that, we can run the `o=iothread` case for a range of `t`.

[2020-03-12 08:45] tmds commented on #39
Yes. CPU usage is the one to check.
At these RPS, network bandwidth should not be an issue.

You can login to the machine and see what cpu usage is while the benchmark is running.

[2020-03-12 14:30] tmds commented on #39
I've re-purposed this issue to figure what is the bottleneck preventing io_uring benchmarks to max CPU.

[2020-03-12 14:50] tmds commented on #49
@antonfirsov let's run benchmarks for higher values of `t` now:

[code]

[2020-03-12 17:09] antonfirsov commented on #49
Results:
| Threads | RPM     | latency |
|---------|---------|---------|
| 5       | 418,452 | 0.86    |
| 6       | 438,525 | 1.08    |
| 7       | 437,555 | 1.39    |
| 8       | 438,388 | 1.63    |
| 9       | 435,248 | 1.67    |
| 10      | 433,684 | 1.84    |
| 11      | 424,226 | 1.84    |
| 12      | 426,325 | 1.72    |

Details in the `Results-#49` subfolder. CPU's been always at max.

[2020-03-12 17:18] antonfirsov commented on #39
/cc @scalablecory

[2020-03-12 17:20] tmds commented on #49
Thanks.

@adamsitnik @antonfirsov from all the benchmarking we've done so far, we haven't had a single benchmark that performed better when sends were batched with AIO on the epoll thread.

[2020-03-12 17:35] adamsitnik commented on #39
A value of 1 indicates a program that on average consumes all the CPU from a single processor. 3 means that we are using 100% of the 3 CPUs

[2020-03-12 17:47] antonfirsov commented on #39
@tmds @adamsitnik when running the benchmarks, on `asp-perf-load` wrk tops around 750% on a 12 core machine (should be 1200% I guess), so load generation is likely a bottleneck.

We should probably increase `--client-threads` and `--connections`.

[2020-03-12 19:13] antonfirsov commented on #39
Had a quick chat with @sebastienros, we should utilize BenchmarkDriver2 and the [Json-Ulib](https://github.com/aspnet/Benchmarks/blob/15cb0b734172560c186e9abff2cf9fae19517079/src/Benchmarks/benchmarks.te.ulib.json#L30-L37) scenario to get this right.

Will look into it tomorrow. /CC @alnikola @adamsitnik.

[2020-03-13 09:49] tmds commented on #39
We want the load machine to **not** have a full CPU load while running the benchmarks. This means it is able to provide the required load without being a bottleneck.

`750%` could be a bottleneck if `--client-threads` `7` or `8`. If `--client-threads` is `12`, the machine is probably not the bottleneck we're looking for. If you run `htop` during the benchmark you can visually verify whether the lo

[2020-03-13 10:36] tmds commented on #49
The best result we have in these measurements without batching sends is 443k (`--arg "-e=epoll" --arg "-t=4" --arg "-s=false" --arg "-r=false" --arg "-c=false" --arg "-o=ioqueue" --arg "-a=true" --arg "-w=false" --connections 256`).
And with batching sends it is 438k (`--path "/json" --arg "-e=epoll" --arg "-t=8" --arg "-s=false" --arg "-r=false" --arg "-c=false" --arg "-o=iothread" --arg "-a=true

[2020-03-13 11:45] tmds opened #62 "Optimize ExecuteQueued to adding batched operation"
When looking at these traces, this catches my attention.

![snip](https://user-images.githubusercontent.com/1025424/76615449-5a823e80-6522-11ea-8f26-71b368cac904.PNG)

The bottom yellow bar is: HandleEvents (1049 samples, 5.76%): epoll says this socket has data.
The top yellow bar is: LinuxAIO.AddRead (117 samples): add a read for batching.

Given the 11% ratio, my feeling is this implementation i

[2020-03-13 12:38] antonfirsov commented on #49
Done, see new tab on my sheet. RPS values in order:
[code]

[2020-03-13 13:03] tmds commented on #49
Thank you. None of the `r=true` manage to max CPU, let's increase `t` further.
And also run a benchmark where we don't batch receives.
[code]

[2020-03-16 12:56] tmds commented on #39
I had another look at the trace files. I noticed the same things as mentioned in https://github.com/tmds/Tmds.LinuxAsync/issues/39#issuecomment-596503262.
I then looked at the 414k trace file from https://github.com/tmds/Tmds.LinuxAsync/issues/39#issuecomment-597737202.
The difference between these files should be `t=3` vs `t=4`. The latter trace doesn't have a `io_wqe_worker-1`, and idle handling

[2020-03-17 16:10] tkp1n commented on #39
As mentioned in https://github.com/axboe/liburing/issues/97#issuecomment-600147659 we [should not use `IOSQE_IO_LINK`](https://github.com/CarterLi/liburing4cpp#dont-use-iosqe_io_link).

I'll address this in IoUring.Transport (as it's easier for me to change) and make it available for re-testing. If we see full CPU usage in the benchmarks, we should adapt the io_uring implementation here as well.

[2020-03-17 16:20] tmds commented on #39
Let's verify first if this now maxes CPU.

[2020-03-17 16:21] antonfirsov commented on #39
@tkp1n please let us know when you're done, I'm happy to redo the benchmarks. Do you plan to expose a parameter on `IoUringOptions` for linking behavior?

[2020-03-17 16:32] tkp1n commented on #39
A very unstable first draft of the IoUring.Transport was already written not to use LINK. I'll revert to this logic (minus the bugs hopefully) on master without adding an option at first.

Adding an option would mean major code duplication or delay for the time I need to come up with a proper abstraction to avoid the duplication...

Please let me know if an option would make things significantly e

[2020-03-17 18:24] tkp1n commented on #39
@antonfirsov I just pushed a [commit](https://github.com/tkp1n/IoUring.Transport/commit/e8d65f1c9b40495c34bf266b5165989ee0918ae6) to master to remove all intsances of `IOSQE_IO_LINK` from [IoUring.Transport](https://github.com/tkp1n/IoUring.Transport). Feel free to use the latest version on MyGet to re-run the benchmarks.

Let's hope for full CPU utilization :)

If the results are non-obvious, I'l

[2020-03-18 02:34] antonfirsov commented on #39
I have executed PlatformBenchmarks json benchmark in all configurations, and it looks like CPU is now utilized:

|                  |     RPS |  CPU % | Latency |
|------------------|---------|--------|---------|
| Sockets          | 483,047 | 98     | 1.21    |
| LinuxTransport   | 612,310 | 98     | 1.22    |
| IoUring old      | 507,624 | 64     | 0.92    |
| IoUring master | 573,762 | 96     |

[2020-03-18 06:41] CarterLi commented on #39
Probably a switch that disable `POLL`, because in Linux 5.7+  kernel will handle it internally.

See: https://git.kernel.dk/cgit/linux-block/commit/?h=for-5.7/io_uring&id=d7718a9d25a61442da8ee8aeeff6a0097f0ccfd6

Another option is to test [IORING_FEAT_FAST_POLL](https://github.com/axboe/liburing/blob/3d0842ce800fed9b79e6d445e1e563f31dd1aa82/src/include/liburing/io_uring.h#L240) feature flag, so th

[2020-03-18 07:16] tmds commented on #39
@antonfirsov is the `IoUring old` higher than previous results because you are running a different benchmark (i.e. platform vs middleware)?

Did you use Sockets-based Transport from this repo?

Can we see how Sockets-based Transport from this repo using AIO, compares to IoUring master?
[code]

[2020-03-18 07:21] tkp1n commented on #39
Given above test results from @antonfirsov I think a switch to enable `LINK` is useless as perf is clearly better without it.

A switch to disable `POLL` as propoesed by @CarterLi  will come in handy, when we start comparing the current approach to a `POLL`-less approach once 5.7 is stable.

Kernel version 5.7 seems to provide a much easier programming model for network developers and also better

[2020-03-18 07:41] tmds commented on #39
These are the different ways we are polling:

- Sockets: uses `EPOLLET` this means each operation has to be tried and fail with `EAGAIN` before it can assume epoll will raise an event. This had the advantage no explicit calls have to be made to re-arm poll (`epoll_ctl`), and in case the attempt is successful, there is no need to poll.
- LinuxTransport: `EPOLLONESHOT` re-arms epoll each time. So fo

[2020-03-18 08:03] tmds commented on #49
@adamsitnik @antonfirsov to have an idea of potential gain of batching sends, we can see what happens when we turn off send batching in klt:
[code]

[2020-03-18 08:10] tmds opened #64 "Number of threads"
Currently we are explicitly setting the nr of threads.
We need the implementation to control this.

It could be heuristic based on ProcessorCount and nr of accepted sockets. We can fine-tune it based on benchmarks.

Additional threads could also be spun up based on load.
I think this may not work well with TE benchmarks.
I believe each connection is established before they are used.
So that means

[2020-03-18 09:33] tmds commented on #24
@adamsitnik Based on what we've benchmarked so far, I propose we look at these benchmarks and figure out if there is some things we can optimize further from traces.
[code]
I set `t=x` because we should run benchmark for `t=1..ProcessorCount`. We'll look at traces for these two scenarios at their best `t`.

[2020-03-18 09:38] tmds commented on #39
@adamsitnik @antonfirsov I'd like to run benchmarks from https://github.com/tmds/Tmds.LinuxAsync/issues/39#issuecomment-600462013 so we have an idea of the potential gain of io_uring compared to AIO at 5.5 kernel.

@antonfirsov do you want to update the implementation so poll+operation are no longer batched? It should be possible to localize changes to `IOUringAsyncEngine` class.

[2020-03-18 10:19] tmds commented on #39
Please run them for a range of t=1..ProcessorCount. Especially IoUringTransport needs a higher t because the sends are on io_uring thread.

[2020-03-18 12:35] antonfirsov commented on #39
Yes I've been running ["raw" PlatformBenchmarks](https://github.com/antonfirsov/KestrelBenchmarks/tree/master/PlatformBenchmarks) in to make the comparison fair. I will run all requested benchmarks from this repo in 1-2 hours.

Yes, I'll do that, hopefully by the end of the day.

[2020-03-18 12:51] adamsitnik commented on #24
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-03-18 12:57] adamsitnik commented on #24
@tmds I've uploaded the traces to a subfolder called "19_03_2020"

[2020-03-18 13:15] adamsitnik commented on #49
[code]
[code]
[code]
[code]

traces uploaded to `18_03_2020_linuxtransport` subfolder

[2020-03-18 13:37] tmds commented on #24
Thank you!

Let's make a graph.

With AIO, continue on threadpool (`c=true`) vs stay on epoll thread (`c=false`):

![rps](https://user-images.githubusercontent.com/1025424/76965850-52ad0a80-6925-11ea-871f-bad4d7fd2936.png)

So when we batch and defer to threadpool after receive, we see best performance at t=1.
When we batch and stay on epoll thread after receive, we see best performance at t=4.
Th

[2020-03-18 13:42] tmds commented on #49
Even not yet at 100% cpu, batching the sends (`s=true`) performs +10% better.
So we can't dismiss the concept.

[2020-03-18 14:42] antonfirsov commented on #39
[code]

@tmds the last one is very surprising to me. When running PlatformBenchmarks with the default setup (t=12), setting `options.ApplicationSchedulingMode=PipeScheduler.Inline` improves perf a lot.

[2020-03-18 15:10] tmds commented on #39
[code]

Can you run these benchmarks for `t=1..ProcessorCount`?

You can also do benchmarks for both `i=true` and `i=false` if you want. If you do those for `iouringtransport`, run them against `epoll` also.

[2020-03-18 16:32] antonfirsov commented on #64
I guess we should base the heuristic on numbers/graphs from Citrine runs.

[2020-03-18 17:33] adamsitnik commented on #24
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-03-18 20:16] tmds commented on #24
All in one graph:

![rps2](https://user-images.githubusercontent.com/1025424/77002545-fa452f80-695b-11ea-9239-cf05843087d5.png)

The green line is what is most similar to corefx Socket*.
red = green + AIO
yellow = green + continue on epoll thread
blue = green + AIO + continue on epoll thread

As you can see, when continuing on epoll thread, there need to be enough threads.
Also, the effect of AIO

[2020-03-18 23:59] antonfirsov commented on #39
I was unsure if you meant physical or logical `ProcessorCount`, so did it for `t=1..12`.

## RPS values:

t | epoll | epoll+i | iourt | iourt+i
-- | -- | -- | -- | --
1 | 323,062 | 120,800 | 123,420 | 121,355
2 | 395,237 | 172,156 | 205,454 | 224,303
3 | 444,085 | 228,824 | 308,281 | 330,000
4 | 436,653 | 257,696 | 434,057 | 394,257
5 | 438,405 | 308,799 | 467,698 | 450,207
6 | 452,817 | 317,180 |

[2020-03-19 00:04] lpereira commented on #39
Ooh, these numbers are starting to look interesting.

On Wed, Mar 18, 2020, 16:59 Anton Firszov <notifications@github.com> wrote:

[2020-03-19 00:49] antonfirsov commented on #39
Looks like it doesn't worth to go above the number of physical cores ... at least on this HW.

[2020-03-19 07:31] tmds commented on #39
Yes, we shouldn't abandon io_uring at 5.5 kernel.

Let's see how it behaves when we use io_uring in Socket implementation.

`i=true` controls a PipeScheduler. We don't understand how `i=true` affects performance. This option was added to improve performance, and then measurements showed it decreased performance significantly with epoll: https://github.com/tmds/Tmds.LinuxAsync/issues/41.
With io_ur

[2020-03-20 01:18] antonfirsov commented on #41
@tmds @adamsitnik I collected traces + speedscope json for this issue into the `InliningTraces` folder [on my OneDrive](https://microsoft-my.sharepoint.com/:f:/p/anfirszo/EkqER0svzQlJsYVH9EXVkosBElKc2q1K2wFI4TtC4L1mpg?e=q6o3pB).

**EDIT:** updated the link

[2020-03-20 06:13] tmds commented on #39
See https://github.com/tmds/Tmds.LinuxAsync/pull/67#issue-391303024. epoll+AIO and io_uring show similar performance. The iouring transport has better performance. Note that the transport is batching sends, while the Socket based implementations are not.

It would be nice if we can make `i=true` a gain as we've seen here for iouring transport. We'll look at that in https://github.com/tmds/Tmds.Lin

[2020-03-20 06:21] tmds opened #68 "Socket based transport has larger variance in RPS"
As can be seen in this graph from https://github.com/tmds/Tmds.LinuxAsync/pull/67, the non-Socket based transport (IoUring) is behaving more stable (less spiky) than the Socket based transports (epoll, io_uring).

![rps](https://user-images.githubusercontent.com/1025424/77140733-d1678c00-6a7a-11ea-8af4-a3a17dc0c825.png)

cc @adamsitnik @antonfirsov

[2020-03-20 14:07] tmds commented on #41
Thanks for running these benchmarks. I hope they tell us what this weirdness is with `i=true`.

[2020-03-20 15:16] tmds commented on #41
@adamsitnik I had a look at the trace file, this is what I noticed:

A lot of time is spent in CLRLifoSemaphore::Wait:

![wait](https://user-images.githubusercontent.com/1025424/77177290-8c1c7c00-6ac5-11ea-8906-a76319ee86e6.PNG)

This is called by ThreadPool threads. Zooming in on a thread:

![thread](https://user-images.githubusercontent.com/1025424/77177398-b706d000-6ac5-11ea-8ad9-6de645955cdd.P

[2020-03-20 15:30] tmds commented on #41
Based on https://github.com/dotnet/runtime/issues/33669#issuecomment-601459220, it may be interesting to see what happens if we set `COMPlus_ThreadPool_UnfairSemaphoreSpinLimit=0`.

[2020-03-20 15:41] #39 closed

[2020-03-20 16:13] tmds commented on #41
I believe these traces are from this benchmark:
[code]

@antonfirsov @adamsitnik `i` controls the input scheduler. I'd like to see what happens if we also change the output pipe scheduler.
Can you run these benchmarks also (without setting `COMPlus_ThreadPool_UnfairSemaphoreSpinLimit=0`)?
[code]
Note: the first is the default value, and matches the benchmark we ran already.

[2020-03-20 16:32] antonfirsov commented on #41
@tmds looks like it makes big difference:

|                 |     RPS | CPU (%) | Avg. Latency (ms) |
| --------------  | ------- | ------- | ----------------- |
| -o=ioqueue      | 362,086 |      85 |              0.97 |
| -o=iothread     | 494,267 |      58 |              0.89 |
| -o=inline       | 495,721 |      59 |              0.59 |

[2020-03-20 16:33] adamsitnik commented on #41
Most probably these are the thread pool threads that are waiting for some work to execute.

[2020-03-20 16:48] antonfirsov commented on #41
Even without `COMPlus_ThreadPool_UnfairSemaphoreSpinLimit=0` there is still significant gain from `-o=iothread` and `-o=inline` :

|                 |     RPS | CPU (%) | Avg. Latency (ms) |
| --------------  | ------- | ------- | ----------------- |
| -o=ioqueue      | 332,801 |     100 |              1.93 |
| -o=iothread     | 487,377 |      58 |              0.96 |
| -o=inline       | 475,064 |

[2020-03-20 16:56] tmds commented on #41
When we run application code inline, the IoQueue is challenging the ThreadPool.

This is the first benchmark where we see batching sends improving performance!

[2020-03-20 16:57] antonfirsov commented on #41
Based on https://github.com/dotnet/runtime/issues/33669#issuecomment-601802736, I also tried `COMPlus_HillClimbing_Disable=1` in all configurations, but it did not seem to have any effect.

[2020-03-20 17:00] tmds commented on #41
@antonfirsov can you run these accross a range of `t` without COMPlus_ThreadPool_UnfairSemaphoreSpinLimit=0?
[code]

[2020-03-20 17:36] antonfirsov commented on #41
Done:

t | ioqueue | iothread | inline
-- | -- | -- | --
4 | 261,520 | 354,702 | 368,774
5 | 313,798 | 445,904 | 443,246
6 | 333,697 | 497,961 | 493,417
7 | 338,994 | 480,170 | 481,411
8 | 332,807 | 479,579 | 479,094
9 | 342,327 | 473,435 | 467,595
10 | 351,746 | 470,477 | 467,275

![image](https://user-images.githubusercontent.com/6835152/77190460-90eb2b00-6ad9-11ea-9657-4c3a4b171884.png)

Looks

[2020-03-21 15:28] tkp1n commented on #39
@tmds I guess you could close https://github.com/axboe/liburing/issues/97 as well... even though we only saw 96% utilization yet and never 99% :wink:

[2020-03-21 17:01] tmds commented on #68
Adding graph from https://github.com/tmds/Tmds.LinuxAsync/issues/41#issuecomment-601826631.
![rps2](https://user-images.githubusercontent.com/1025424/77231491-9741db80-6b9b-11ea-8f1a-82c97ed347fc.png)

note: this graph starts at 4.
The orange is the same benchmark as in the previous graph.
The other lines are `epoll` using iothread and inline as schedulers with `i=true`.
They are less spiky than t

[2020-03-23 05:54] tmds commented on #41
@antonfirsov can you perform this benchmark also with ThreadPool as output scheduler (added in https://github.com/tmds/Tmds.LinuxAsync/pull/71)?
[code]

[2020-03-23 06:07] tmds opened #73 "Echo benchmark"
Maybe interesting to do a benchmark that is close to the best echo server we can implement.
Such a server would fully run on the iothread and batch all reads and writes.
It doesn't use ASP.NET and ThreadPool, just plain Socket.

For benchmarking purposes, instead of implementing echo, we can implement a hard-coded JSON benchmark. I think the length of request for json is fixed. So each time we rec

[2020-03-23 10:08] adamsitnik commented on #73
I was thinking about a similar benchmark for a while, especially after I've found out that every `FlushAsync` in the `platform` benchmark schedules a new job on ThreadPool while the writes are so small that they are never blocking...

Somebody working on this might find my old echo server sample useful for a start: https://github.com/adamsitnik/LinuxAsyncIO/blob/master/EchoServer/EchoServer/EpollE

[2020-03-23 13:21] tmds commented on #53
@antonfirsov focussing on the what:

It would be nice to know how many events we get per epoll_wait:

https://github.com/tmds/Tmds.LinuxAsync/blob/f7394541eb689080974820c5f456f3aabfd1b3e8/src/Tmds.LinuxAsync/EPollAsyncEngine.EPollThread.cs#L72

And how many times we call epoll_wait in a benchmark.

[2020-03-23 13:50] tmds commented on #52
I'm going to take a look at this, mostly for the fun/challenge of it.

It's not something that shows up as a bottleneck in the traces, but maybe there is still a measurable gain.

I'm going to focus on epoll. I'm not sure if the same code will be usable for io_uring.

[2020-03-23 13:55] antonfirsov opened #74 "Automate benchmark execution"
The parameter space became large and complex, running benchmarks is real chore now, and it would be even harder on Citrine, where we need to test with bigger ranges of `t`. To improve our productivity, I'm planning to implement some automation.

### Goals:
- Automate BenchmarkDriver(2) execution for a given set of parameters.
- Produce output that is easy to deal with. Suggestion: `.csv`
  - Conve

[2020-03-23 14:06] adamsitnik commented on #74
I am a n00b and I always go 100% C# 🗡

I've written a very small app that parses commands from a file and runs the benchmarks. Everything is hardcoded, but it gives me what I want, you might find it usefull:

[code]

[2020-03-24 00:01] antonfirsov commented on #41
It's much worse unfortunately:

t | RPS | CPU | latency
-- | -- | -- | --
3 | 222580 | 83 | 1.16
4 | 270670 | 97 | 1.01
5 | 291501 | 99 | 1.22
6 | 323535 | 100 | 1.57
7 | 320456 | 99 | 2.04
8 | 333158 | 100 | 2.3

![image](https://user-images.githubusercontent.com/6835152/77374442-06215f00-6d6b-11ea-82ad-84038e817e21.png)

[2020-03-24 09:02] tmds commented on #41
That's expected. ioqueue gets used because it improves performance compared to threadpool.

Though it varies based on `t`:

t | threadpool | ioqueue | ioqueue vs threadpool (%)
-- | -- | -- | --
4 | 270670 | 261520 | -3.4
5 | 291501 | 313798 | 7.6
6 | 323535 | 333697 | 3.1
7 | 320456 | 338994 | 5.8
8 | 333158 | 332807 | -0.1

[2020-03-24 14:01] tmds commented on #41
We've observed in https://github.com/tmds/Tmds.LinuxAsync/pull/76 that when using `iothread` and `inline` have Max CPU 50%.

Looking at trace from:
[code]

When we look at the whole application: we see system is loaded 50%, and load is spread across the epoll threads:

![load_on_epoll_threads](https://user-images.githubusercontent.com/1025424/77432523-761cfd00-6dde-11ea-9984-18cbe6bc8a0c.PNG)

And

[2020-03-24 14:27] antonfirsov commented on #41
[code]

See: `inline-t10.03-24-15-10-12.RPS-478K.trace.zip` in OneDrive root.

[2020-03-24 14:42] tmds commented on #41
These traces look very similar to `t=6`.

What happen when we increase parallelism for requests? How does that affect Max CPU and RPS?

[code]
@antonfirsov this sets connections to 512. Can you run it for a range of `t`? No need for traces. RPS and Max CPU is enough.

[2020-03-24 15:26] antonfirsov commented on #41
[code]

t | RPS | CPU | latency
-- | -- | -- | --
4 | 376621 | 35 | 1.36
5 | 446699 | 43 | 1.14
6 | 517477 | 50 | 1.07
7 | 511184 | 59 | 1.07
8 | 508134 | 67 | 1.15
9 | 513596 | 77 | 1.26
10 | 512927 | 84 | 1.27
11 | 508421 | 93 | 1.12
12 | 513530 | 100 | 1.16

![image](https://user-images.githubusercontent.com/6835152/77444521-39f09900-6dec-11ea-877b-0c2ded65a1b3.png)

![image](https://user-image

[2020-03-24 16:55] tmds commented on #41
@antonfirsov as we've discussed, we'll run the same benchmark on Citrine and see at what nr of t, RPS flatlines.

[2020-03-25 12:30] tmds commented on #41
@antonfirsov when you run these benchmarks. Probably we'll get a similar graph as the one above. It would be interesting to have traces for lowest `t` and highest `t` that have the max performance. In the previous graph these are `t=6`, and `t=12` which have about 500k RPS.

[2020-03-25 12:41] tmds commented on #41
Some observations from the previous benchmark worth calling out:
- At t=12, we max CPU 100%. I _guess_ also with 256 connections this is probably the case.
- At t=6, we have higher +4.9% RPS than 256 connections. So these threads have some room to deal with additional requests.

[2020-03-26 00:47] #49 closed

[2020-03-26 00:48] tmds commented on #51
I'm going to close this because I don't plan to investigate this further.
If someone wants to look into it, we'll re-open the issue.

[2020-03-26 00:48] #51 closed

[2020-03-26 00:52] tmds commented on #32
@adamsitnik is this still something we want to do? Any particular benchmark we want to run from these? Plaintext/Json?

cc @antonfirsov

[2020-03-26 00:54] #68 closed

[2020-03-26 00:54] tmds commented on #68
Won't investigate this further.

[2020-03-26 23:34] antonfirsov opened #78 "Benchmark parameters for Citrine runs"
Let's define the parameters we want to use for extensive Citrine runs (or at least for the first one).

The machines are mine for Friday (big thanks to Sebastien!), but my naive approach to try all combinations of the major parameters is defining too many jobs, even for a whole day run. Are some of these combinations worthless to include even in a comprehensive analysis?

I'm using the syntax of m

[2020-03-26 23:53] antonfirsov commented on #41
Although there is still a slowdown at `ht/2`, it seems to scale much better on Citrine:
`e=epoll s=false r=false c=false a=true w=false i=true o=inline t=1,7,14,21,28` (with `--connections 512`):

t | RPS | CPU | latency
-- | -- | -- | --
1 | 84513 | 4 | 6.03
7 | 494744 | 25 | 1.04
14 | 832746 | 50 | 0.63
21 | 947215 | 75 | 0.55
28 | 1022530 | 100 | 0.51

![image](https://user-images.githubusercon

[2020-03-27 09:22] adamsitnik commented on #41
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-03-27 09:49] adamsitnik commented on #41
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-03-27 09:56] adamsitnik commented on #41
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-03-27 11:22] adamsitnik commented on #78
I would cut few of the thread counts to reduce the number of runs.

t=4,6,8,10,12,**13**,14,**15**,16,**17**,18,20,22,24,26,28,**30**

[2020-03-27 11:50] tmds commented on #41
"-t=28", with AIO

"-t=28", without AIO

+17%, that's a nice difference!

[2020-03-27 12:46] tmds commented on #78
## Baseline
I consider this the baseline:
[code]
## Benchmarks focused on batching
### batch by deferring receives
[code]
this should perform worse than
### batch receives on poll thread
[code]
### continue inline without batching
It is also interesting to run the continuations inline, without batching, to differentiate between effect of batching and continuation.
[code]
note: iouring doesn't have

[2020-03-27 12:52] antonfirsov commented on #78
I think the point is to have a proper comparison between AIO / no AIO.

Doesn't this affect only ThreadPool schedulers? Isn't it waste of time to run all the rest?

[2020-03-27 12:52] tmds commented on #78
[code]

I consider this one interesting too. It's important to note that `t` controls the `IOQueue` count.
If we are using a daily ASP.NET Core build, maybe we can also implement, and set `w=false`?

[code]

For max performance, you should also set `s=true` also.

[2020-03-27 12:58] tmds commented on #78
IoQueue is also a ThreadPool scheduler.
And I think Kestrel will always use ThreadPool for dispatching the HTTP handling in it's KestrelConnection class.

Maybe these could be left out for `COMPlus_ThreadPool_UnfairSemaphoreSpinLimit=0`:
[code]

[2020-03-27 13:04] tmds commented on #78
@adamsitnik @antonfirsov do we want to run middleware json/platform json (https://github.com/tmds/Tmds.LinuxAsync/issues/32)? I'm fine using middleware, but maybe you have a specific preference for platform?

Note that the pipelined plaintext will suffer from `o=inline`, since every response will be sent separately, instead of batched together by other output schedulers.

[2020-03-27 13:37] tmds commented on #62
Should be better thanks to reduced locking, and some refactorings. I'm not looking into this further.

[2020-03-27 13:37] #62 closed

[2020-03-27 13:38] tmds commented on #52
Fixed in https://github.com/tmds/Tmds.LinuxAsync/pull/76

[2020-03-27 13:38] #52 closed

[2020-03-27 13:41] tmds commented on #40
Closing. Benchmarks (see https://github.com/tmds/Tmds.LinuxAsync/issues/78) will give us an overview of how this behaves with different schedulers, and `COMPlus_ThreadPool_UnfairSemaphoreSpinLimit=0`.

[2020-03-27 13:41] #40 closed

[2020-03-27 13:42] tmds commented on #41
Closing. Benchmarks (see https://github.com/tmds/Tmds.LinuxAsync/issues/78) will give us an overview of how this behaves with different schedulers, and `COMPlus_ThreadPool_UnfairSemaphoreSpinLimit=0`.

[2020-03-27 13:42] #41 closed

[2020-03-27 13:43] tmds commented on #24
Closing. New benchmark round coming up: https://github.com/tmds/Tmds.LinuxAsync/issues/78.

[2020-03-27 13:43] #24 closed

[2020-03-27 17:44] adamsitnik commented on #78
I think that we should use middleware and compare it with current middleware implementation which is around 750k RPS ([link to PowerBI](https://msit.powerbi.com/view?r=eyJrIjoiYTZjMTk3YjEtMzQ3Yi00NTI5LTg5ZDItNmUyMGRlOTkwMGRlIiwidCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsImMiOjV9&pageName=ReportSection4b1906703e2c66ceac03))

[2020-03-30 18:58] tmds commented on #73
@antonfirsov @adamsitnik does one of you want to implement this?

[2020-03-30 19:02] adamsitnik commented on #73
I am currently busy with rewriting the platform benchmarks

[2020-03-30 19:24] antonfirsov commented on #73
This is next on my list after the benchmark reports.

[2020-03-31 00:43] antonfirsov commented on #78
@tmds @adamsitnik you can check the results here:
https://microsoft-my.sharepoint.com/:x:/p/anfirszo/ETUPVQ8QN9BGmysfL5uDJswBpZsSrKZtuFaMtaoU7ifGUQ?e=s1H2gY

The grouping should be straightforward, but if it's not I'm happy to answer questions. On several places, there are multiple versions of the same diagram with different series enabled/disabled. Red lines in table are for missing or outlier da

[2020-03-31 18:44] antonfirsov commented on #78
@tmds as we discussed, I extended the ThreadPool scheduling benchmarks with `t=1,2,3`, and also added graphs comparing the impact of `COMPlus_ThreadPool_UnfairSemaphoreSpinLimit`. It's only measurable for small `t` values.

![image](https://user-images.githubusercontent.com/6835152/78063411-772acd00-7390-11ea-8272-e75058f77a2b.png)

[2020-04-01 12:44] tmds commented on #78
Thanks Anton! The effect being mostly being at lower `t` is expected. At lower `t` more work comes in batches from the epoll thread to the ThreadPool.

[2020-04-01 19:57] scalablecory commented on #73
Is the `PipeWriter` being implemented correctly here?

`FlushAsync()` should only complete asynchronously if the pipe's write buffer is full. Otherwise it should be a synchronous no-op.

[2020-04-01 20:39] tmds commented on #73
We haven't done any custom changes to Pipes compared to ASP.NET Core. We did make the schedulers configurable.

Adam is referring to what thread ends up sending data to the `Socket` on `FlushAsync`. By default, the `IoQueue` is used. So the thread calling `FlushAsync` doesn't make the `sendmsg` syscall, but puts a task on the `IoQueue` that calls `sendmsg`.

For pipelined plaintext this gives an a

[2020-04-01 20:53] scalablecory commented on #73
Gotcha. Is there a reason the syscall needs to happen on an I/O thread? I would expect only completions to need that.

[2020-04-01 20:55] scalablecory commented on #73
Also, I would make sure we're measuring the right thing. We should be measuring the cost of `FlushAsync`, not the cost of small serialized writes (which will pretty much always be slow)

[2020-04-01 21:14] tmds commented on #73
The syscall can be made anywhere. The IoQueue isn't an I/O thread, it does some form of batching of Actions and runs those on ThreadPool.

We've done several benchmarks (see https://github.com/tmds/Tmds.LinuxAsync/issues/78#issuecomment-606328598). In some cases IoQueue performs better than Inline. It depends on what other work is put on the ThreadPool.

Yes. For this particular issue, we want to

[2020-04-02 21:27] tmds opened #84 "ASP.NET Schedulers"
@davidfowl @halter73 we've added control over the schedulers that get used.

We can control these:
- `c`: where do async socket continuations run: inline/**threadpool**
- `i`: input pipe reader scheduler: inline/**threadpool**
- `o`: output pipe reader scheduler: inline/threadpool/**ioqueue**/iothread

The bold values are the default.

When we inline all these scheduler and use ProcessorCount thre

[2020-04-03 02:02] halter73 commented on #84
For `c`, we've found inline scheduling is best on linux with Kestrel's Socket transport, so that's already the default there. See https://github.com/aspnet/KestrelHttpServer/issues/2573.

For `i` (and the output pipe write scheduler) we've always used the threadpool as a safe default in case the app developer blocks. This used to be configurable via KestrelServerOptions.ApplicationSchedulingMode,

[2020-04-03 10:47] tmds commented on #84
This `c` is a different one. It controls whether the Socket continuations are run on threadpool or stay on epoll thread. I assume it is safe to inline, because `i` defers to ThreadPool later.

ok, I will consider it unsafe to use `inline` here.

There is another use of ThreadPool not mentioned yet. The Handler gets put on ThreadPool by KestrelConnection class (see stacktrace below of JSON middlewa

[2020-04-03 11:00] tmds commented on #84
I figured out this isn't safe. The stacktrace changes for successive requests on the same connection.
I still have these questions:

Do you recall the rationale for running the handler on ThreadPool?
Is this also happening for JSON platform benchmark?

[2020-04-03 12:03] tmds commented on #84
I think I got this too. If there is already a request in the input pipe the request handling would start, and stops Kestrel from accepting more connections until the handling goes async. It reduces kestrels accept connections per second performance.

I guess so. It doesn't matter much for the TE benchmarks, it only affects the first request from a connection.

[2020-04-03 12:27] tmds commented on #78
@antonfirsov this is the combination we discussed that would be interesting also to benchmark on Citrine:
[code]

[2020-04-03 12:47] tmds commented on #84
Adding some graphs from benchmarks.

## Using threadpool
[code]
![tp2](https://user-images.githubusercontent.com/1025424/78361893-6f01a600-75b9-11ea-99e8-fb7ebc46bf6a.png)

(x-axis is nr of epoll threads from 0 to ProcessorCount, I cut off the values because excel webview renders them wrong in chrome)

Since epoll threads don't do much work, we don't need many of them.

Here IoQueue has better per

[2020-04-03 13:09] davidfowl commented on #84
That would be an ideal option IMO for kestrel and it should be opt-in at the socket level

[2020-04-03 18:19] halter73 commented on #84
It looks like you answered all of your own questions @tmds 😄.

I agree an option to enable the inline scheduling of app code (i.e. ApplicationSchedulingMode) is something we should add back as a SocketTransportOption. I'll look into this.

[2020-04-03 18:21] halter73 commented on #84
That makes sense. IIRC, the reason we run Socket.ReceiveAsync continuations inline on linux, but not Windows, is because on linux the continuation is already dispatched to a threadpool thread, whereas on Windows we're still on an I/O thread.

Agreed. As long as we're not calling into non-framework code it should be safe to inline.

[2020-04-03 20:53] tmds commented on #78
Anton, can you also run these benchmarks?
[code]

[2020-04-03 21:08] tmds commented on #84
@halter73 Is combination of `c=inline, i=threadpool` safe to use with potentially blocking application code? I think so, since `i=threadpool` will put that code on the threadpool. Is that correct?

[2020-04-03 21:30] halter73 commented on #84
Yes. Running continuations inline is safe if all they do is write to a PipeWriter and the reader scheduler is set to the threadpool.

[2020-04-06 16:18] antonfirsov commented on #84
@tmds @halter73:
I did a comparison between the configurations discussed here.

![image](https://user-images.githubusercontent.com/6835152/78580353-94e5af80-7832-11ea-89e5-ca2d2a3c857b.png)

Explanation of labels:

Optimal | c=inline | c=threadpool
-- | -- | --
`c=inline i=inline a=true o=iothread` | `c=inline i=threadpool a=true o=iothread` | `c=threadpool     i=threadpool a=true o=iothread`

Not

[2020-04-07 12:09] tmds commented on #73
I'm going to re-open this to collect the benchmark results.

[2020-04-07 13:24] antonfirsov commented on #73
@tmds I guess it will be:
[code]
Or do we need anything else?

[2020-04-07 14:07] tmds commented on #73
I think you mean `c` instead of `o`. Looks good.

Can you collect a perftrace for this one also:
[code]

[2020-04-07 15:26] antonfirsov commented on #73
Yeah I meant `c`.

[2020-04-07 22:53] antonfirsov commented on #78
Also sharing the doc here:
https://microsoft.sharepoint.com/:x:/r/teams/SocketsPerfWG/Shared%20Documents/General/ContinuationsComparison-Full-0407.xlsx?d=w4e6c85d2c7c54431b8b77793d894e6d0&csf=1&web=1&e=hg3T2q

@tmds added the 2 graphs you requested

[2020-04-08 03:27] tmds commented on #78
Thank you Anton!

[2020-04-08 03:37] tmds commented on #78
We're missing
[code]
It's an interesting point on the graph (should be best for `c=threadpool,i=inline`). I'm going to assume same value as `t=2`.

[2020-04-08 04:17] tmds commented on #84
Combining with results from https://github.com/tmds/Tmds.LinuxAsync/issues/78#issuecomment-610658950, and taking best results for `(c,i)` combinations:

  | Config 1 | Config 2 | Config 3 | Config 4
-- | -- | -- | -- | --
c | threadpool | inline | inline | threadpool
i | threadpool | inline | threadpool | inline
t | 1 | ProcessorCount | ProcessorCount/2 | 1
o | ioqueue | iothread/inline | ioqueue/

[2020-04-08 04:59] tmds commented on #84
The gain we get in config 2 is thanks to using AIO.
With `o=inline` and AIO disabled, we get 860k.

[2020-04-08 07:01] tmds commented on #73
Let's also do the epoll vs io_uring benchmark.
epoll without AIO
[code]
epoll with AIO:
[code]
iouring:
[code]

We don't need the Citrine machine for this. We can benchmark at `t=1`.

PS: don't forget to add parameter to use the echo host.

[2020-04-08 07:29] adamsitnik commented on #84
@kouvel might be able to answer this question

[2020-04-08 17:25] antonfirsov commented on #73
@tmds Uploaded some results + traces to the Teams subfolder `RawSockets-0408`.
`epoll` is done with `a=true`. The proof is missing from those results, but I hadn't noticed any difference with `a=false`.

Still fighting the infra and my domestic connection to get some `t`-series for io_uring. Spoiler: it's somewhat worse.

[2020-04-09 12:12] tmds commented on #73
epoll is done with a=true

Observations:
* with `c=threadpool`, at low `t`, the epoll thread batching receives is a bottleneck. At `t=1` for example, `Max CPU` is `42%`.
* with `c=inline, t=ProcessorCount` we don't max CPU (`91%`). We hit a bottleneck. It could be `wrk` not being able to keep up.

[2020-04-09 17:20] kouvel commented on #84
Yes I think that would be feasible and would be a better option than having another pool of threads, but it may have some tradeoffs, would have to try it out.

[2020-04-11 07:58] tmds commented on #73
When running the echo benchmark with corefx Socket on Citrine, we only got 440k rps.
Looking at the trace, there was only one epoll thread. So the runtime we were using had the change from Adam which regressed platform json.

The epoll thread spends 50% of time in `UnsafeEnqueueUserWorkItem`.

![epoll_threadpool](https://user-images.githubusercontent.com/1025424/79038547-67a25400-7bda-11ea-905f-9f

[2020-04-14 11:25] tmds commented on #32
Re-open to collect benchmark result.

[2020-04-14 11:30] tmds commented on #32
@antonfirsov let's run a single benchmark for platform on Citrine:
[code]

[2020-04-14 17:18] antonfirsov commented on #32
For this configuration:
[code]

I guess we also want to run Config1/2/3/4 [from here](https://github.com/tmds/Tmds.LinuxAsync/issues/84#issuecomment-610742400)?

[2020-04-14 23:21] kouvel commented on #84
I misunderstood and thought there was another pool of threads. I did some experiments relevant to using the thread pool directly instead of the IOQueue, so far I have not seen the thread pool performing better. It seems there is benefit from batching and maybe other things. I have posted some more info in our Teams channel. Based on the info I have so far it does not appear to be feasible to remov

[2020-04-14 23:23] kouvel commented on #73
In the JsonPlatform issue it appears one epoll thread is not though for that machine, it's not able to queue work fast enough. For JsonPlatform I used 4 epoll threads on that machine to get reasonable perf.